apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kong-admin-ingress
  namespace: kong
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    # Basic Auth usando o secret criado em 01-secret.yaml
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: kong-admin-auth
    nginx.ingress.kubernetes.io/auth-realm: "Authentication Required - Kong Admin"
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - kong-admin.local
    secretName: kong-admin-tls
  rules:
  - host: kong-admin.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: kong-admin
            port:
              number: 8001
